
.orderScreen {

    h4 {
        span {
            font-size: 22px;
        }
    }

    a{
        color: #000;
    }
    
    // .card {
    //     box-shadow: none;
    // }
      
    .list-group-item {
        box-shadow: none;
    }
}