
@font-face {
  font-family: 'IranYekan';
  src: url('./fonts/IRYekan/IRYekan.eot'); /* IE9 Compat Modes */
  src: url('./fonts/IRYekan/IRYekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/IRYekan/IRYekan.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/IRYekan/IRYekan.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/IRYekan/IRYekan.png') format('png'); /* Legacy iOS */
}

@font-face {
  font-family: 'IranSans';
  src: url('./fonts/IRSans/irsans.woff'); /* IE9 Compat Modes */
  src: url('./fonts/IRSans/irsans.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/IRSans/irsansb.woff') format('woff'), /* Pretty Modern Browsers */
}

html,
body {
  unicode-bidi: bidi-override !important;
  direction: unset !important;
  text-align:right !important;
  direction: rtl !important;
  font-family: 'IranYekan', 'IranSans' !important;
  font-size: 13px;
}

body {
  background-color: #f8f8f8 !important;
}

main {
  min-height: 70vh;
}
