
.paymentScreen {

    @media (max-width: 768px) {
        text-align: center;
    }

    button {
        width: auto;
    }

    h2 {
        
        @media (max-width: 768px) {
            margin-top: 10vw !important;
        }
    }
}